body{
    position: relative;
    margin: 0 auto;
    width: 1082px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.cuisine{
    width: 1082px;
}

.cuisine-r{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 270px;
}

.code{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 120px;
}

.five{
    order: 1;
}